.App {
  margin: 30px auto 0;
  color: #fff;
  font-family: "Merriweather", serif;
  text-align: center;
  max-width: 900px;
}

.App h1 {
  font-weight: 700;
}

.App h2 {
  font-size: 20px;
}

.App footer {
  text-align: center;
  margin: 20px;
  font-size: 11px;
}

.App footer a {
  color: #929292;
}
