.App {
  margin-top: 30px;
  color: #fff;
  font-family: "Merriweather", serif;
  text-align: center;
}

.App h1 {
  font-weight: 700;
}

.App h2 {
  font-size: 20px;
}

.App footer {
  text-align: center;
  margin: 20px;
  font-size: 11px;
}
