.Synonyms {
  padding: 0;
  margin: 20px 0;
}

.Synonyms li {
  list-style: none;
  font-size: 11px;
  display: inline-block;
  margin: 8px 5px 0;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 5px 6px;
  line-height: 1.5;
}
